<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="QisiqesanaGebiAsebaseb.Properties.Settings.dummyConnectionString"
            connectionString="Data Source=user-PC/MSSQLSERVER1;Initial Catalog=dummy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QisiqesanaGebiAsebaseb.Properties.Settings.dummyConnectionString1"
            connectionString="Data Source=USER-PC\MSSQLSERVER1;Initial Catalog=dummy;Persist Security Info=True;User ID=doner;Password=doner"
            providerName="System.Data.SqlClient" />
        <add name="QisiqesanaGebiAsebaseb.Properties.Settings.dummyConnectionStringme"
            connectionString="Data Source=user-PC/MSSQLSERVER1;Initial Catalog=dummy;Integrated Security=True" />-->

		<add name="ConnectionString"
		   connectionString="data source=.; initial catalog=dummy;integrated security=True;"
		   providerName="System.Data.SqlClient" />
     <!-- <add name="ConnectionString"
            connectionString="Data Source=MK-GDSS-PROM179\MKDONERS;Initial Catalog=dummy;Persist Security Info=True;User ID=sa;Password=MK_doners\"
            providerName="System.Data.SqlClient" /> -->

    </connectionStrings>
  <appSettings>
    <add key="ReportTemplatePath" value="D:\\Montly Payment Format.xlsx" />
  </appSettings>
</configuration>